data/
/.venv/
.idea/
__pycache__/
output/
example_nn/
training_output/
plots/visualization_tools/pt_visualizer_images
plots/outputs
plots/images
noise/
results/
noise_images/
*.csv
*.txt
*.pt
*.pickle
util.py